<footer class="site-footer">

  <div class="wrapper flex">
    <div>
      <ul class="social-media-list">
        {% if site.github_username %}
        <li class="flex">
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>

    <div>
      <a href="https://www.ucalgary.ca/">
        <img src="/assets/images/uc-vert-rgb-small.png" srcset="/assets/images/uc-vert-rgb-small@2x.png 2x">
      </a>
    </div>

    <div class="footer-desc">
      <p>{{ site.description | escape }}</p>
    </div>

  </div>

</footer>
