---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// General Styling

h1, h2, h3, h4, h5, h6,
%vertical-rhythm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 1.5em !important;
}

p, blockquote, pre,
ul, ol, dl, figure {
  font-family: "Martel", serif;
}

.flex {
  display: flex;
  flex-direction: row;
}

.profile {
  padding: 2px;
  display: flex;
  flex-flow: row wrap;

  .avatar {
    flex: 1 25%;

    .displayname {
      color: #7aa93c;
      font-size: 130%;
    }
  }

  .bio {
    flex: 1 75%;
  }
}

.hline {
  widows: 100%;
  height:1px;
  background: #ccc;
  margin: 1em auto;
  padding: 3;
}

@media all and (max-width: 500px) {
  .flex {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.flex-vert {
  flex-direction: column;
}

.flex > * {
  flex: 1 1 auto;
  transition: width 0.7s ease-out;
}

.flex-image {
  flex: 0 1 auto !important;
}

.landing-description {
  font-size: 1.1em;
}

.rss-subscribe {
  font-size: 0.8em;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
}

// Post Styling

.post-title {
  @include relative-font-size(1.8);
  letter-spacing: normal;
  line-height: 1;
  font-weight: 500;
}

.post-content .flex {
  padding-bottom: 1em;
}

.post-content .flex > * {
  padding: 0 0.5em;
}

// Includes Styling

.site-header {
  padding: 1em 0;
}

.site-logo {
  flex: 0 1 auto !important;
  padding-right: 1em;

  img, svg {
    height: 96px;
    width: 96px;
  }
}

.site-title {
  font-size: 36pt;
  letter-spacing: normal;
  font-weight: 500;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

nav {
  font-size: 1.2em;
  justify-content: flex-start;

  > * {
    flex: 0 1 auto !important;
    padding-right: 1em;
  }

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

.site-footer div.flex > * {
  padding: 0 1em;
}

.social-media-list {
  font-size: 0.8em;
}

.footer-desc {
  max-width: 300px;
  font-size: 0.6em;
  color: $grey-color;
}

.social-logo {
  flex: 0 1 auto !important;
  padding-right: 5px;

  img, svg {
    height: 15px;
    width: 15px;
  }
}

.avatar-image {
  flex: 0 1 auto !important;
  padding-right: 5px;

  img, svg {
    height: 150px;
    width: 150px;
  }
}
