---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header {
  padding: 1em 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-vert {
  flex-direction: column;
}

.flex > * {
  flex: 1 1 auto;
  transition: width 0.7s ease-out;
  // border: 1px solid #F00;
}

.flex-image {
  flex: 0 1 auto !important;
}

.site-logo {
  flex: 0 1 auto !important;
  padding-right: 1em;
}

.site-title {
  font-size: 36pt;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

nav {
  font-size: 1.5em;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

.footer-desc {
  max-width: 300px;
  @include relative-font-size(0.9375);
  color: $grey-color;
}
