---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// General Styling

.flex {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 500px) {
  .flex {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.flex-vert {
  flex-direction: column;
}

.flex > * {
  flex: 1 1 auto;
  transition: width 0.7s ease-out;
}

.flex-image {
  flex: 0 1 auto !important;
}

.landing-description {
  font-size: 1.1em;
}

.rss-subscribe {
  font-size: 0.8em;
}

// Includes Styling

.site-header {
  padding: 1em 0;
}

.site-logo {
  flex: 0 1 auto !important;
  padding-right: 1em;
}

.site-title {
  font-size: 36pt;

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

nav {
  font-size: 1.2em;
  justify-content: flex-start;

  > * {
    flex: 0 1 auto !important;
    padding-right: 1em;
  }

  a,
  a:visited {
    color: $grey-color-dark;
  }
}

.site-footer div.flex > * {
  padding: 0 1em;
}

.social-media-list {
  font-size: 0.8em;
}

.footer-desc {
  max-width: 300px;
  font-size: 0.6em;
  color: $grey-color;
}
