---
layout: default
---

<div class="home">

  <p class="landing-description">
    The GeoSensorWeb Lab is a research group at the University of Calgary that is focused on developing web-enabled geospatial information systems and building interoperability into the Internet of Things.
  </p>

  {{ content }}

  <ul class="post-list">
    {% assign post = site.posts.last %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  </ul>

</div>
